body {
 background-image: url('./assets/images/stars.jpg');   
}

h1 {
    color: white;
    font-size: 100px;
    font-family: Segoe UI Light;
    justify-content: center;
}
#wishHolder {
    width:100%;
    display: flex;
    flex: 1 0 21%;
    justify-content: space-around;
    margin: 75px 0;
    margin-top: 100px;
    flex-wrap: wrap;
}
.box {
    width: 400px;
    height:400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 25px;
    padding: 20px;
    background-size: cover;
    flex: 1 0 21%;
}
.box:hover {
    font-size: 0px;
}
.box:hover:after {
    content: attr(data-hover);
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
    text-align: center;
    color: white;
}
.one {
    display: block;
    margin left: 100px;
}
.two {
    display: block;
    margin-left: 100px;
}
.one1 {
     background-color: #ccccff;
}
.two2 {
     background-color: #b3b3ff;
}
.three {
     background-color: #9999ff;
}
.four {
     background-color: #8080ff;
}
.five {
     background-color: #8080ff;
}
.six {
     background-color: #9999ff;
}
.seven {
     background-color: #b3b3ff;
}
.eight {
     background-color: #ccccff;
}
.nine {
     background-color: #ccccff;
}
.ten {
     background-color: #b3b3ff;
}
.eleven {
     background-color: #9999ff;
}
.twelve {
     background-color: #8080ff;
}
